<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		 <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ComisionesCM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="CondCliMadrigal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Politica Global">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
				</exceptionTypes>
			</add>
			<add name="Politica FDatos">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<appSettings>
		<add key="DatosConexion" value="dsCoreSql=nsd2012;dSwinCore-dSWinSql=nsd2012;dSWinNetCar"/>
		<!--<add key="DatosConexion" value="dsCoreSql=localhost;dSwinCore-dSWinSql=localhost;dSWinNetCoGan"/>-->
		<add key="CommandTimeOut" value="120"/>
		<add key="NombreAplicacion" value="dSCondCli"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="basic" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="100000000" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="basicStream" closeTimeout="04:00:00" openTimeout="04:00:00"
     receiveTimeout="04:00:00" sendTimeout="04:00:00" maxBufferSize="2147483647"
     maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Mtom">
     <readerQuotas maxDepth="100000000" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="basic2" messageEncoding="Mtom" />
    <binding name="basic3" />
    <binding name="basic1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost/ServiciodSWinNet/SvcDSWinNet.svc"
    binding="basicHttpBinding" bindingConfiguration="basic" contract="ProxyDSW.IServiciodSWin"
    name="basicDSW" />
   <endpoint address="http://localhost/SvcAuxiliarDSWin/SvcAuxiliarDSWin.svc"
    binding="basicHttpBinding" bindingConfiguration="basicStream"
    contract="ProxyAuxiliar.ISvcAuxdSWin" name="basicAuxiliar" />
   <endpoint address="http://localhost/SvcConsultasDSW/SvcConsultasDSW.svc"
    binding="basicHttpBinding" bindingConfiguration="basic" contract="ProxyConsultas.ISvcConsultasDSW"
    name="basicConsultas" />
   <endpoint address="http://laptop-r293d132/SvcAuxiliarDSWin/SvcAuxiliarDSWin.svc"
    binding="basicHttpBinding" bindingConfiguration="basic2" contract="ProxyAuxiliar.ISvcAuxdSWin"
    name="basic1" />
   <endpoint address="http://laptop-r293d132/ServiciodSWinNet/SvcDSWinNet.svc"
    binding="basicHttpBinding" bindingConfiguration="basic3" contract="ProxyDSW.IServiciodSWin"
    name="basic2" />
   <endpoint address="http://laptop-r293d132/SvcConsultasDSW/SvcConsultasDSW.svc"
    binding="basicHttpBinding" bindingConfiguration="basic1" contract="ProxyConsultas.ISvcConsultasDSW"
    name="basic" />
  </client>
	</system.serviceModel>	
 <applicationSettings>
  <ComisionesCM.Properties.Settings>
   <setting name="HostDSW" serializeAs="String">
    <value>basicDSW</value>
   </setting>
   <setting name="HostConsultas" serializeAs="String">
    <value>basicConsultas</value>
   </setting>
   <setting name="HostAuxiliar" serializeAs="String">
    <value>basicAuxiliar</value>
   </setting>
   <setting name="Lenguaje" serializeAs="String">
    <value>ES</value>
   </setting>
   <setting name="TamanoPagina" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="HostWCF" serializeAs="String">
    <value>basic</value>
   </setting>
   <setting name="Repartos" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Previstos" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="USAT" serializeAs="String">
    <!--<value>37.230.70.13:6420</value>-->
	   <value>*</value>
   </setting>
   <setting name="ConfigurarConexion" serializeAs="String">
    <value>True</value>
   </setting>
  </ComisionesCM.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
